.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.login-wrapper-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-wrapper-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
}



.MuiInputBase-input {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}


.checkbox-wrapper input {
    margin-right: .5rem;
}



.login-button {
    background-color: #1976d2;
    color: #fff;
    padding: .5rem 1.25rem;
    border: none;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: .25rem;
    cursor: pointer;
    width: 35%;
}

.login-wrapper-forgot-register {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}