.Library-header {
    background-color: #90caf9;
    margin-top: 66px;
    padding-top: 66px;
    margin-left: 255px;
    padding-left: 255px;
}

.Add-book-button-container {
    position: fixed;
    bottom: 35px;
    z-index: 5;
}

.more-container {
    position: relative;
}

.more-horiz-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    background-color: inherit;
}

.more-horiz-icon:hover {
    background-color: #f0f0f0;
    color: #aec6cf;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.more-span {
    background-color: #333333;
    padding: 3px;
    font-size: 12px;
    position: absolute;
    top: 32px;
    z-index: 1;
    border-radius: 2px;
    line-height: 15px;
    display: none;
}

.more-horiz-icon:hover ~ .more-span {
    color: #aec6cf;
    display: block;
}
.s{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.skeleton{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* .skeleton {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
