.forgotpassword-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.forgotpassword-wrapper-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotpassword-wrapper-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
}



.MuiInputBase-input {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}


.checkbox-wrapper input {
    margin-right: .5rem;
}



.forgotpassword-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1976d2;
    color: #fff;
    padding: .5rem 1.25rem;
    border: none;
    font-weight: 500;
    font-size: .9rem;
    border-radius: .25rem;
    cursor: pointer;
    width: 35%;
}

.forgotpassword-wrapper-cancel {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}