@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');

body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: bold;
}

@media screen and (max-width: 1530px) {
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.privacy-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}