/* MODAL Styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.feedback-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
    height: 60%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.close-button {
    position: relative;
    z-index: 9999;
    border: none;
    font-weight: bold;
    font-size: 1.6vw;
    cursor: pointer;
    background: none;
}

/* FORM Styling */
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.feedback-header {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}

.feedback-textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

.button-group button {
    border-radius: 3px;
    color: white;
    background-color: rgb(46, 125, 50);
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.button-group button:hover {
    background-color: rgb(36, 110, 40);
}

.feedback-textarea {
    resize: none;
}

.rating-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
