/* .BookSearch-header {} */
.search-window {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.search-input {
    width: 300px;
    padding: 0.563rem;
    font-size: 0.875rem;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    letter-spacing: 0.5px;
}
.search-input:focus {
    outline: none;
}

.search-button {
    background-color: #0062cc;
    color: #fff;
    border: none;
    padding: 0.563rem;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.search-button:hover {
    background-color: #0062cc;
}

.search-input.small {
    width: 100%;
    box-sizing: border-box;
}

.input_container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    color: grey;
    padding-left: 10px;
    height: 50px;
    width: 100vw;
    margin-bottom: 100px;
}

.input_container input {
    color: black;
    box-sizing: border-box;
    background-color: transparent;
}
